body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #70757a;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: #70757a;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 19px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #70757a;
  border-radius: 5px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 6px;
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.weather-temperature strong {
  color: rgba(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: 3px;
}
