h1 {
  color: #212529;
  font-size: 36px;
  font-weight: 600;
  line-height: 29px;
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: #212529;
  margin: 20px 0px 20px 0px;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.weather-app {
  padding: 20px;
  border: 8px solid rgb(121, 200, 222);
  border-radius: 20px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 40px 320px 10px 320px;
  padding: 10px 20px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  margin: 20px 0px 40px 0px;
}

.weather-temperature img {
  margin-right: 6px;
  display: inline-block;
  height: 60px;
  margin-top: unset;
  vertical-align: top;
  width: 60px;
}

.weather-temperature strong {
  color: rgba(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  top: 3px;
}

.weather-temperature .active {
  color: rgba(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

#search {
  background: none;
  border: none;
  font-size: 32px;
  transition: all 200ms ease-in-out;
  position: relative;
  top: -6px;
}
#search:hover {
  filter: contrast(170%);
}

.forecast-days {
  border-left: 7px solid rgb(121, 200, 222);
  height: 300px;
  position: relative;
  top: 0px;
  left: 40px;
}

.days-block {
  position: relative;
  top: -15px;
  left: 20px;
  line-height: 1;
  padding: 8px;
}

.days-block img {
  margin-right: 6px;
  display: inline-block;
  height: 30px;
  vertical-align: middle;
  width: 30px;
}

.description {
  padding-top: 40px;
}
